{% extends 'base.html' %}
{% load static %}

{% block title %}Signup{% endblock title %}

{% block body %}
<div class="container w-75">
    <div class="row">
        <div class='col'>
            <div class='loginContainer my-4'>
                <img src="{% static 'images/signup.png' %}" class="image" style="width: 400px; margin-top: 6rem;">
                <div class="h2">Already have an account.</div>
                <div class="text-muted">Login and Go from idea to iconic.</div>
                <a href="login" class='btn btn-primary ally-btn my-4'>Login</a>
            </div>
        </div>
        <div class='col'>
            <div class='loginContainer my-4'>
                <div class="h1 text-center" style="font-size: '4rem'; margin-top: 5rem;">Welcome to theAlly</div>
                <form method="post">
                    {% csrf_token %}
                    <div class='row justify-content-center my-4'>
                        <h4 class="text-center" style="font-weight: 'bold';">Signup</h4>
                    </div>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{status}}
                        </div>
                    {% endif %}

                    <div class="row form-group my-4">
                        <label for="email">Email address <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name='email'
                            placeholder="Enter email" required>
                    </div>

                    <div class="row form-group my-4">
                        <label for="password">Password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                            required>
                    </div>

                    <div class="row form-group my-4">
                        <label for="referral">Referral code(optional)</label>
                        <input type="text" class="form-control" id="referral" name="referral" placeholder="Referral">
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary ally-btn my-4">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{userExistError}}
{% endblock body %}